@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.form-container {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  position: relative;
}

.form-container::before{
  content: '';
  background-image: url('./met-background.jpg');
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.form-container h1 {
font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.art-list {
display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
} 

.query {
color:#D09D99;
}

.hero {
margin: 50px;
text-align: center;
} 

.hero h1 {
color: rgb(0, 0, 0);
font-weight: 600;
}
